absl-py
ale-py
AutoROM
AutoROM.accept-rom-license
blinker
cachetools
certifi
charset-normalizer
click
cloudpickle
contourpy
cycler
Farama-Notifications
filelock
Flask
fonttools
fsspec
google-auth
google-auth-oauthlib
grpcio
gymnasium
idna
importlib-resources
itsdangerous
Jinja2
kiwisolver
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
networkx
numpy
oauthlib
opencv-python
packaging
pandas
Pillow
protobuf
psutil
pyasn1
pyasn1-modules
pygame
Pygments
pyparsing
python-dateutil
pytz
requests
requests-oauthlib
rich
rsa
Shimmy
six
stable-baselines3
sympy
tensorboard
tensorboard-data-server
torch
tqdm
typing_extensions
tzdata
urllib3
Werkzeug
setuptools==65.5.0
pip==21
wheel==0.38.0

# DreamverV3 reqs

cloudpickle
#crafter
gym==0.21.0
#jax
#jaxlib
numpy
optax
rich
ruamel.yaml
tensorflow-cpu
tensorflow_probability
